* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
}

.w {
    width: 1200px !important;
    margin: 0 auto !important;
    /* overflow: hidden; */
}

.y {
    width: 1200px !important;
    margin: 0 auto !important;
    overflow: hidden !important;
}

body {
    position: relative;
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

input {
    outline-style: none;
    list-style: none;
    text-decoration: none;
}

.absMusic {
    font-size: 30px;
    letter-spacing: 3px;
    color: rgb(39, 101, 235);
}

input:-webkit-autofill,select:-webkit-autofill {  
    -webkit-box-shadow: 0 0 0px 1000px #ffffff  inset !important;  
} 

.body_mask {
    display: none;
    position: relative;
    z-index: 400;
    height: 100vh;
    min-width: 1200px;
    /* background-color: #000000; */
    background: url(../image/login.jpg) no-repeat !important; 
    background-size: 100% 100%;
    /* opacity: .2; */
}

.uin_del {
    position: absolute;
    display: none;
    top: 10px;
    right: -104px;
    width: 100px;
    height: 30px;
    color: red;
    font-size: 16px;
}

.tip {
    position: absolute;
    display: none;
    width: 100px;
    height: 30px;
    top: 8px;
    right: -104px;
    color: red;
    font-size: 16px;
}

.arrow_left,
.arrow_right {
    cursor: pointer;
    z-index: 999;
    width: 80px;
    height: 120px;
    position: absolute;
    top: 50%;
    text-align: center;
    background-color: gray;
    opacity: .5;
}

.arrow_left {
    left: -80px;
}

.arrow_right {
    right: -80px;
}

.icon-cheveron-left,
.icon-cheveron-right {
    font-size: 80px;
    line-height: 120px;
    color: #4e4e4e;
}

/* .footer_info a:hover, */
.footer_info ul li:hover a,
.footer_info ul li:hover i,
.footer_copyright a:hover {
    color: #31c27c;
}

.js_playlist {
    font-size: 14px !important;
}

.current {
    background-color: lightgray;
}