/* 评论列表 start */
.hot {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 800;
}

.list_comment::-webkit-scrollbar {
    display: none;
}

.list_comment_item {
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px 10px;
    width: calc(100% - 60px);
    background-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.list_comment_item:first-child {
    margin-top: 80px;
}

.list_comment_item img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment_con {
    float: left;
    margin-left: 10px;
    width: 490px;
    color: #faf9f9;
}
/* 评论列表 end */