body {
    overflow: hidden;
}


.app {
    position: relative;
    height: 100vh;
    min-width: 1200px;
    /* background-color: rgb(10, 28, 112); */
    background: url(../image/OIP.png) no-repeat ;
    /* background: url(../image/burst.jpg) no-repeat ; */
    background-size: 100% 100%;
}


/* 左侧边栏 start  */
.page_left_nav {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 600px;
    width: 50px;
    background-color:rgba(15, 15, 15, 0.164);
    overflow: hidden;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.nav_line {
    z-index: 100;
    margin-left: 7px;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    color: #fff;
    font-size: 20px;
}

.nav_line a {
    font-size: 20px;
    color: #fff;
    vertical-align: 10px;
}

.nav_line a i {
    /* line-height: 40px; */
    font-size: 30px;
    color: #ffffff;
}

.nav_line img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* 左侧边栏 start  */


















.player_container {
    z-index: 1000;
    width: 100vw;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    background-color:rgba(0, 0, 0, 0.418);
}

.user_info_content {
    position: absolute;
    top: 8%;
    left: 8%;
}

.user_info_content img {
    opacity: 0.6;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user_info_list {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 260px;
    z-index: 2;
    /* opacity: 0.2; */
    /* background-color: royalblue; */
}

.user_info_list div {
    margin-top: 15px;
}

.user_info_name {
    width: 250px;
    height: 35px;
}

.user_info_name span{
    float: left;
    width: 250px;
    font-size: 32px;
    color: #4b4949;
}

.user_info_follow span {
    color: #585555;
    font-size: 26px;
    padding-left: 29px;
}

.user_info_playlist span {
    color: #585858;
    font-size: 24px;
    padding-left: 39px;
}

.use_info_level span {
    color: #4d4a4a;
    font-size: 22px;
    padding-left: 35px;
}

.user_info_logout {
    cursor: pointer;
    color: #444242;
    width: 80px;
    font-size: 20px;
    padding-left: 21px;
}













/* 歌曲列表 start */
.user_right_list,
.comment_interface {
    position: absolute;
    top: 1%;
    right: 0%;
    width: 38%;
    height: 86.6%;
    /* background-color: aquamarine; */
}

.right_select_tab_list {
    z-index: 100;
    position: absolute;
    top: 0;
    left: -40px;
}

.right_select_tab_list_item {
    position: relative;
    overflow: hidden;
    left: 0;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    margin-top: 20px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.right_select_tab_list_item:hover {
    width: 100px;
    left: -70px;
}

.right_select_tab_list_item:first-child {
    background-color: rgba(0, 255, 64, 0.055) !important;
    border-left: 5px solid rgba(0, 255, 76, 0.164);
}

.right_select_tab_list_item:first-child:hover i {
    color: rgba(0, 255, 42, 0.568);
}

.right_select_tab_list_item:nth-child(2) {
    background-color: rgba(0, 102, 255, 0.123) !important;
    border-left: 5px solid rgba(0, 68, 255, 0.212);
}

.right_select_tab_list_item:nth-child(2):hover i {
    color:  rgba(38, 221, 245, 0.685);
}

.right_select_tab_list_item:last-child {
    background-color: rgba(255, 0, 0, 0.055) !important;
    border-left: 5px solid rgba(255, 0, 0, 0.164);
}

.right_select_tab_list_item:last-child:hover i {
    color: rgba(255, 0, 0, 0.555);
}





.right_select_tab_list_item i {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.right_select_tab_list_item p{
    position: absolute;
    top: 0;
    left: 41px;
    font-size: 15px;
    font-weight: 500;
    /* color: #fff; */
}

.list_songs,
.list_comment,
.flipped {
    position: absolute;
    overflow-x: hidden;
    z-index: 500;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.205);
    /* border-left: 1px solid #ffffff; */
    /* overflow: scroll; */
}

.search_interface .list_songs {
    height: 85.2%;
}

.list_songs::-webkit-scrollbar {
    display: none;
}

.song_item {
    position: relative;
    width: 100%;
    height: 55px;
    color: #ffffff;
    border-bottom: 1px solid #dddcdc;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.playBtn {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

/* .playBtn i {
    font-size: 35px;
    color: #999999;
} */

.playBtn:hover {
    color: #fff !important;
}

.song_item:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.song_item_on {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.song_name {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* position: absolute; */
    /* left: 40px; */
}

.song_item div {
    width: 240px;
    margin-top: 9px;
    margin-left: 15px;
    /* background-color: bisque; */
}

.song_ar {
    /* position: absolute; */
    width: 30%;
    bottom: 5px;
    opacity: .6;
    font-size: 12px;
}

.song_operation {
    position: absolute;
    width: 165px !important;
    height: 30px;
    font-size: 25px;
    top: 3px;
    right: 70px
}

.song_operation i {
    /* display: block; */
    margin-left: 10px;
    line-height: 30px;
}

.song_item_add {
    /* vertical-align: 2px; */
    font-size: 30px;
}

.song_item_add:hover {
    color: rgba(0, 255, 42, 0.568);
}

.play_num {
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #999999;
}
/* 歌曲列表 end */


/* 评论列表 start */
.hot {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 800;
}

.list_comment::-webkit-scrollbar {
    display: none;
}

.list_comment_item {
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px 10px;
    width: calc(100% - 60px);
    background-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.list_comment_item:first-child {
    margin-top: 80px;
}

.list_comment_item img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment_con {
    float: left;
    margin-left: 10px;
    width: 490px;
    color: #faf9f9;
    /* background-color: aliceblue; */
}
/* 评论列表 end */


















/* 搜索模块 start */
.search_interface {
    position: absolute;
    z-index: 200;
    top: 5px;
    right: 20px;
    width: 580px;
    height: 86.6%;
    border-radius: 5% 5% 0 0;
    /*border-left: 2px solid #fff;
    */border-top: 2px solid #fff;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.205);
    -webkit-border-radius: 5% 5% 0 0;
    -moz-border-radius: 5% 5% 0 0;
    -ms-border-radius: 5% 5% 0 0;
    -o-border-radius: 5% 5% 0 0;
}

.search_input {
    margin-top: 15px;
    background: transparent!important;
    border: transparent;
    border-bottom: 1px solid hsla(0,0%,100%,.5)!important;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    outline: none!important;
    width: 385px;
    vertical-align: -5px;
    margin-left: 20px;
}

.search_input::-webkit-input-placeholder {
    color: #fff;
}

.search_tab {
    width: 80%;
    height: 24px;
    margin: 10px 0 20px 10px;
    /* background-color: teal; */
}

/* .search_interface .list_songs::-webkit-scrollbar {
    display: none;
} */

.search_tab_item {
    cursor: pointer;
    width: 50px;
    float: left;
    text-align: center;
    margin-left: 5px;
    margin-right: 15px;
    height: 20px;
}

.search_interface .song_order {
    float: left;
    margin-top: 0;
    width: 20px ;
    height: 100%;
    line-height:  56px;
    padding-left: 20px;
}

.search_interface .song_item_img {
    float: left;
    margin-top: 2px;
    /* margin-left: 0; */
    width: 50px ;
    height: 50px ;
}

.search_interface .song_item_img img {
    width: 100%;
    height: 100%;
}

.search_interface .song_item_name {
    margin-left: 10px;
    margin-top: 7px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search_interface .song_ar {
    margin-left: 10px;
    margin-top: 4px;
    float: left;
}



/* 搜索模块 end */

/* 歌手搜索模块 start  */
.list_singer_item {
    float: left;
    margin-left: 27px;
    /* margin-top: 25px; */
    width: 250px;
    height: 280px;
    /* background-color: seagreen; */
    text-align: center;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.list_singer_item:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.list_singer_item img {
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.list_singer_item_name {
    font-size: 20px;
    color: #fff;
}
/* 歌手搜索模块 end  */


/* 歌单搜索模块 start  */
.list_playlist_item {
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #999999;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.list_playlist_item:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.list_playlist_item img {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.list_playlist_item_name {
    margin-left: 20px;
    margin-top: 2px;
    width: 60%;
    float: left;
    color: azure;
    font-weight: 800;
}

.playlist_item_author {
    margin-left: 20px;
    margin-top: 18px;
    float: left;
    width: 60%;
}

.playlist_item_author span {
    font-size: 12px;
}

.playlist_trackcount {
    font-size: 50px;
    float: left;
    width: 50px;
    height: 100%;
    margin-left: 50px;
    color: rgba(0, 0, 0, .2);
    
}
/* 歌单搜索模块 end  */


































/* 进度条控制 start */
.control_btn {
    float: left;
    width: 150px;
    /* background-color: beige; */
    height: 50px;
    margin-top: 25px;
    margin-left: 30px;
    display: inline-block;
}

.control_btn div {
    float: left;
    width: 50px;
}

.control_btn div i {
    font-size: 40px;
    cursor: pointer;
    line-height: 50px;
    color: #ffffff;
}

.progress_container {
    position: relative;
    float: left;
    width: 700px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
    /* background-color: aquamarine; */
}


.other_control {
    float: left;
    margin-left: 0;
    margin-top: 27px;
}

.other_control div {
    width: 20px;
    margin-right: 20px;
    padding: 7px;
}

.other_control div i {
    line-height: 30px;
    font-size: 20px;
    color: #ffffff;
}

.other_control div {
    position: relative;
    float: left;
}










#m_player {
    display: block;
    float: left;
    display: block;
    width: 100%;
    height: 100%;
}
/* 进度条控制 end */






/* 歌词区域 start */
.playingLine {
    position: absolute;
    top: 43.5%;
    left: 5%;
    color: #797575;
}

.lyric_area {
    position: absolute;
    top: 7%;
    left: 3%;
    width: 58%;
    height: 80%;
    text-align: center;
    /* background-color: wheat; */
    overflow: hidden;
}

#lyric_ul {
    width: 920px;
    position: absolute;
    top: 0;
    transform: translateY(235px);
    transition-duration: 100ms;
    -webkit-transform: translateY(235px);
    -moz-transform: translateY(235px);
    -ms-transform: translateY(235px);
    -o-transform: translateY(235px);
}

.lyric_li {
    user-select: none;
    width: 100%;
    height: 80px;
    line-height: 80px;
    /*background-color: blueviolet;
    */font-size: 20px;
    color: #999999;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.lineHigh {
    color: rgba(2, 159, 250, 0.603) !important;
}

.mv_btn {
    z-index: 100;
    position: relative;
    display: none;
    left: 86%;
    bottom: -75%;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(223, 226, 38);
}

.comment_btn {
    z-index: 100;
    position: relative ;
    left: 86%;
    bottom: -80%;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(99, 227, 236);
}
/* 歌词区域 end */


.video_play {
    position: absolute;
    top: 6%;
    left: 13%;
    z-index: 50;
}


/* 返回按钮  */
.back {
    cursor: pointer;
    position: absolute;
    display: none;
    z-index: 9999;
    right: -7.4%;
    bottom: 40px;
    width: 150px;
    height: 50px;
    line-height: 58px;
    background-color: rgba(255, 255, 255, 0.459);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.back:hover {
    right: 0;
}

.back span {
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

/* 我的歌单 start  */
.playlist_control {
    display: none;
    position: absolute;
    top: 8%;
    right: 0;
    width: 20%;
    height: 30px;
    /* background-color: aqua; */
}

.playlist_control div {
    float: right;
    width: 40%;
    padding-top: 2.5px;
}

.playlist_control i {
    font-size: 25px;
    color: #fff;
}


.myplaylist_interface {
    position: absolute;
    right: 0;
    top: 6px;
    background-color: rgba(11, 208, 252, 0.315);
    width: 41%;
    height: 86.5%;
    /* overflow-y: hidden; */
}

.myplaylist_playAll {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: -35px;
    width: 35px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    overflow: hidden;
    color: #fff;
    background-color: aqua;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.myplaylist_playAll:hover {
    width: 130px;
    left: -130px;
}

.myplaylist_playAll i {
    padding-left: 5px;
    vertical-align: -5px;
    font-size: 25px;
    color: #999999;
}

.myplaylist_con,
.myplaylist_song_con {
    display: none;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: 624px;
}

.myplaylist_con::-webkit-scrollbar,
.myplaylist_song_con::-webkit-scrollbar {
    display: none;
}

.myplaylist_song_item {
    position: relative;
    width: 100%;
    height: 12%;
    background-color: rgba(10, 10, 10, 0.103);
    border-bottom: 1px solid #999999;
}

.myplaylist_song_order {
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    top: 15px;
    left: 20px;
}

.myplaylist_song_item_img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 11px;
    left: 100px;
}

.myplaylist_song_item_img img {
    width: 50px;
    height: 50px;
}

.myplaylist_song_item_name {
    position: absolute;
    top: 11px;
    left: 220px;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.myplaylist_song_ar {
    position: absolute;
    top: 38px;
    left: 220px;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* 我的歌单 end  */

