.now_playlist {
    position: absolute;
    z-index: 9999;
    right: -41%;
    top: 8px;
    width: 41%;
    height: 86.3%;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;    
}

.now_playlist_img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top left, rgba(250, 249, 253, 0.541), rgba(15, 172, 235, 0.699));
    background-size: 100% 100%;
}

.now_playListBtn {
    z-index: 0;
    cursor: pointer;
    position: absolute;
    width: 150px;
    height: 80px;
    border-radius: 60px;
    top: 50%;
    left: -7%;
    border-left: 5px solid rgba(29, 177, 29, 0.932);
    -webkit-border-radius: 50%;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: 60px;
}

.now_playListBtn:hover {
    background-color: rgba(15, 15, 15, 0.329);
}

.now_playListBtn_c {
    background-color: rgba(15, 15, 15, 0.329) !important;
}


.now_playlist:hover  {
    right: 0;
}

.now_playListBtn i {
    position: absolute;
    color: #07924ccc;
    font-size: 25px;
    top: 36%;
    left: 6%;
}






.now_playlist_hd {
    z-index: 5;
    user-select: none;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.now_playlist_hd p {
    position: absolute;
    left: 20px;
    font-size: 25px;
    font-weight: 600;
    color: rgba(58, 57, 57, 0.541);
}

.now_playlist_hd p i {
    font-size: 30px;
    vertical-align: -5px;
}

.playing_all {
    cursor: pointer;
    position: absolute;
    z-index: 0;
    text-align: center;
    width: 23%;
    right: 70px;
    font-size: 20px;
    color: #f51111a1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.playing_all:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.playing_all i {
    font-size: 30px;
    vertical-align: -6px;
}

.delete_all {
    position: absolute;
    z-index: 5;
    height: 50px;
    top: 6px;
    right: 12px;
    line-height: 50px;
}

.delete_all i {
    cursor: pointer;
    font-size: 35px;
    vertical-align: -7px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.delete_all:hover i {
    font-size: 40px;
}


.now_playlist_bd {
    width: 100%;
    position: absolute;
    z-index: 5;
}

.playing_list {
    width: 100%;
    height: 563px;
    overflow-y: auto;
}

.playing_list::-webkit-scrollbar {
    display: none;
}

.playing_list_item {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;
    background-color: rgba(12, 208, 243, 0.26);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    border-bottom: 1px solid #99999973;
}

.playing_list_item_on {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.playing_list_item_con {
    width: 90%;
    height: 100%;
}

.playing_list_item:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}


.playing_list_item_num {
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 50px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.575);
    opacity: 0.6;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.playing_list_item_num_on {
    left: 20px;
    transform: translateY(30px) scale(1.8);
    -webkit-transform: translateY(30px) scale(1.8);
    -moz-transform: translateY(30px) scale(1.8);
    -ms-transform: translateY(30px) scale(1.8);
    -o-transform: translateY(30px) scale(1.8);
}

.playing_list_item:hover .playing_list_item_num {
    left: 20px;
    transform: translateY(30px) scale(1.8);
    -webkit-transform: translateY(30px) scale(1.8);
    -moz-transform: translateY(30px) scale(1.8);
    -ms-transform: translateY(30px) scale(1.8);
    -o-transform: translateY(30px) scale(1.8);
}

.playing_list_item_img {
    position: absolute;
    top: 10px;
    left: 85px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.playing_list_item_img_on {
    opacity: 0.2;
    left: 95px;
    transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
    -webkit-transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
    -moz-transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
    -ms-transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
    -o-transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
}

.playing_list_item:hover .playing_list_item_img {
    opacity: 0.2;
    left: 95px;
    transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
    -webkit-transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
    -moz-transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
    -ms-transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
    -o-transform: rotate(-60deg) translateX(20px) translateY(5px) scale(1.8);
}

.playing_list_item_img img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.playing_list_item_msg {
    position: absolute;
    width: 350px;
    height: 55px;
    /* background-color: greenyellow; */
    top: 13px;
    left: 174px;
    color: #ffffff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.playing_list_item_msg_on {
    left: 125px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.playing_list_item:hover .playing_list_item_msg {
    left: 125px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.playing_list_item_song {
    height: 30px;
    width: 350px;
}



.playing_list_item_songDetail {
    width: 100%;
    margin-right: 15px;
    font-size: 18px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: gray; */
}

.playing_list_item_singer {
    width: 100%;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete_one {
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 90px;
    font-weight: lighter;
    text-align: center;
}

.delete_one i {
    font-size: 25px;
}